#set($layout="common/layout-page-admin.vm")
#set($header="common/header-admin.vm")
#set($active_sidebar_id="dateset")
#set($sidebar="common/sidebar-admin.vm")

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-heading">考核日期设置</div>

			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<!-- <table class="table table-striped table-bordered table-hover" id="dataTables-example"> -->
					<form id="dateset_form_id" action="${s.ctx}kpi/dateset"
					method="post">
					<input hidden id="uploadMonth" name="KPIMonth">
					<table class="table table-striped table-bordered table-hover" style="width : 500px;">
						<tbody id="tables-rows">
							<tr>
								<td align = "center">
									<div id="date-selectors" class="date-selectors"
										style="margin-top: 25px;">
										<span>时间：</span> <input id="start-date" class="datepicker"
											data-date-format="yyyy-mm">
											<span class="add-on"><i class="icon-th"></i></span>
									</div>
								</td>
								<td style="width : 50px;"><button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i></td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<script>
	(function() {
		require([ '${s.ctx}resources/js/biz-init.js' ], function() {
			require([ "jquery", 'biz-utils', 'bootstrap-datepicker' ], function($, Biz, datesetJS) {
				Biz.Utils.debug("dependencies loaded.");
				$(document).ready(function() {
					Biz.Utils.debug("document ready.");
					// 初始化时间控件
					$('.datepicker').datepicker({
				        autoclose: true,
				        minViewMode: 1,
				        orientation: "top left"
				    });
					
					$('.datepicker').datepicker('setDate',new Date());
					
					var datepicker_date = $('.datepicker').datepicker('getDate');
				    var y = datepicker_date.getFullYear();
				    var m = datepicker_date.getMonth()+1;//获取当前月份的日期
				    if(m<10){m='0'+m}
				    var uploadMonth = y + '-' + m
				    //隐藏域传时间
				    $('#uploadMonth').attr('value',uploadMonth);
				    
				    //时间改变
				    $('.datepicker')
					.datepicker()
					.on('changeDate', function(){
						var datepicker_date = $('.datepicker').datepicker('getDate');
						
					    var y = datepicker_date.getFullYear();
					    var m = datepicker_date.getMonth()+1;//获取当前月份的日期
					    if(m<10){m='0'+m}
					    var uploadMonth = y + '-' + m
					    $('#uploadMonth').attr('value',uploadMonth);
					});
					
				    //提交时间
					$('.btn').click(function(event) {
						$('#dateset_form_id').submit();
					});
				});
			});
		});
	}());
</script>