#set($layout="common/layout-page-admin.vm")
#set($header="common/header-admin.vm")
#set($active_sidebar_id="emplyee")
#set($sidebar="common/sidebar-admin.vm")
<!-- <h1 class="page-header">人员信息</h1>
 -->
 
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				人员信息
				<div style="float: right;margin-top: -7px;">
					<button type="button" class="btn btn-primary">添加人员</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#batch_add">批量添加</button>
				</div>
			<!-- Modal -->
			<div class="modal fade" id="batch_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">批量添加</h4>
			      </div>
			      <div class="modal-body">
			        <!-- Disable the styling -->
			        <form id="batch_add_form" action="upload.do?url=/rest/employee/batchAddCommit" method="post" enctype="multipart/form-data">  
					<input id="file-path" name="file" type="file" data-bfi-disabled >
					<!-- <input id="month-end" type="text" style="float: right;margin-top: -24px;width: 250px;" placeholder="输入计算月最终日 例如：2015-05-31"> -->
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" id="batch_add_commit">提交</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			      </div>
			    </div>
			  </div>
			</div>
			<script type="text/javascript">
			
			</script>
				
			</div>

			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<!-- <table class="table table-striped table-bordered table-hover" id="dataTables-example"> -->
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>ID</th>
								<th>姓名</th>
								<th>性别(s)</th>
								<th>年龄</th>
								<th>职务</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td>1</td>
								<td>小馨馨</td>
								<td>女</td>
								<td class="center">18</td>
								<td class="center">局长</td>
							</tr>
							<tr class="odd gradeX">
								<td>1</td>
								<td>小丁丁</td>
								<td>男</td>
								<td class="center">18</td>
								<td class="center">市长</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<script>
	(function() {
		require([ '${s.ctx}resources/js/biz-init.js' ], function() {
			var employeeJs = '${s.ctx}pages-js/employee.js?version=2';
			require([ "jquery", 'biz-utils', employeeJs, 'EventEmitter', 'juicer' ], function($, Biz, employeeJs) {
				Biz.Utils.debug("dependencies loaded.");
				$(document).ready(function() {
					Biz.Utils.debug("document ready.");
					new employeeJs().init();
				});
			});
		});
	}());
</script>