#set($layout="common/layout-page-admin.vm")
#set($header="common/header-admin.vm")
#set($active_sidebar_id="kpi_tc")
#set($sidebar="common/sidebar-admin.vm")
<!-- <h1 class="page-header">人员信息</h1>
 -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">

			<div class="panel-heading">
				员工入职时长
			</div>

			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<!-- <table class="table table-striped table-bordered table-hover" id="dataTables-example"> -->
					<table class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th>ID</th>
								<th hidden>人员姓名id</th>
								<th>考核月份</th>
								<th>人员姓名</th>
								<th>类型</th>
								<th>所属网格</th>
								<th>普通宽带提成</th>
								<th>价值宽带提成</th>
								<th>超出基本奖</th>
								<th>销装维超出奖</th>
								<th>续费考核</th>
								<th>固定IP提成</th>
								<th>固定IP续费率考核</th>
								<th>集团客户考核</th>
								<th>集团客户提成</th>
								<th>总提成</th>
							</tr>
						</thead>
						<tbody id="tables-rows">

						</tbody>
					</table>
					<script type="text/juicer" id="tmpl-tables">
				{@each kpi_tcs as kpi_tc,index}
					<tr class="odd gradeX">
						<td>!{Number(index)+1}</td>
						<td hidden id="employee_id">!{kpi_tc.id}</td>
						<td>!{kpi_tc.kpiDate}</td>
						<td>!{kpi_tc.b}</td>
						<td>!{kpi_tc.c}</td>
						<td>!{kpi_tc.d}</td>
						<td>!{kpi_tc.w}</td>
						<td>!{kpi_tc.x}</td>
						<td>!{kpi_tc.z}</td>
						<td>!{kpi_tc.ab}</td>
						<td>!{kpi_tc.ac}</td>
						<td>!{kpi_tc.ad}</td>
						<td>!{kpi_tc.ae}</td>
						<td>!{kpi_tc.af}</td>
						<td>!{kpi_tc.ag}</td>
						<td>!{kpi_tc.ai}</td>
					</tr>
				{@/each}
			</script><!-- 
			<div style="margin-top : 40px;border-top: 1px dashed #CACACA;" >
			<button type="button" class="btn btn-primary btn-lg" style="margin-left : 600px;margin-top : 20px;">下一步</button>
			</div> -->
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

			<div  >
			<button type="button" class="btn btn-primary btn-lg" style="margin-left : 600px;margin-top : 10px;">下一步->提成计算</button>
			</div>
<script>
	(function() {
		require([ '${s.ctx}resources/js/biz-init.js' ], function() {
			var kpi_tcJs = '${s.ctx}pages-js/kpi_tc.js?version=2';
			require([ "jquery", 'biz-utils', kpi_tcJs, 'EventEmitter',
					'juicer' , 'datatables'], function($, Biz, kpi_tcJs) {
				Biz.Utils.debug("dependencies loaded.");
				$(document).ready(function() {
					Biz.Utils.debug("document ready.");
					new kpi_tcJs().init();
				});
			});
		});
	}());
	/* setTimeout("$('#dataTables-example').dataTable();",5000); */
</script>
