*.iml
*/*.iml
*/.DS_Store
*/.classpath
*/.idea
*/.project
*/.settings
*/WEB-INF/classes
*/WEB-INF/lib
*/bin
*/copy.bat
*/target
.DS_Store
.classpath
.idea
.project
.settings
/*/logs
/.sonar
/antx.properties
/build.xml
/simba.iml
/sonar-project.properties
bin
logs
target
