<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tietong.dao.KPIMapper"> 
	
	<insert id="insertEmployeeInfoType">
	<![CDATA[
	insert into employee_info_month
	(kpi_date,employee_name,type,region_pq,region_q,region_wg,entry_date,quit_date,employee_type,employee_type_rel,create_time)
	select 
	str_to_date(#{KPIMonth},'%Y-%m'),employee_name,type,region_pq,region_q,region_wg,entry_date,quit_date,
	case 
	when to_days(last_day(concat(#{KPIMonth},'-01'))) - to_days(entry_date) < 0 
	then '0'
	when 
	YEAR(last_day(concat(#{KPIMonth},'-01'))) = YEAR(entry_date) and MONTH(last_day(concat(#{KPIMonth},'-01'))) = MONTH(entry_date) 
	and DAYOFMONTH(entry_date) > 15 
	then 'E'
	when 
	YEAR(last_day(concat(#{KPIMonth},'-01'))) = YEAR(entry_date) and MONTH(last_day(concat(#{KPIMonth},'-01'))) = MONTH(entry_date) 
	and DAYOFMONTH(entry_date) >= 11 and DAYOFMONTH(entry_date) <= 15
	then 'H'
	when 
	YEAR(last_day(concat(#{KPIMonth},'-01'))) = YEAR(entry_date) and MONTH(last_day(concat(#{KPIMonth},'-01'))) = MONTH(entry_date) 
	and DAYOFMONTH(entry_date) >= 6 and DAYOFMONTH(entry_date) <= 10
	then 'T'
	when 
	YEAR(last_day(concat(#{KPIMonth},'-01'))) = YEAR(entry_date) and MONTH(last_day(concat(#{KPIMonth},'-01'))) = MONTH(entry_date) 
	and DAYOFMONTH(entry_date) >= 1 and DAYOFMONTH(entry_date) <= 5
	then '1'
	when 
	(YEAR(last_day(concat(#{KPIMonth},'-01'))) != YEAR(entry_date) or MONTH(last_day(concat(#{KPIMonth},'-01'))) != MONTH(entry_date)) and
	TIMESTAMPDIFF(MONTH,concat(DATE_FORMAT(entry_date,'%Y-%m'),'-01'),concat(#{KPIMonth},'-01')) >= 3
	then 'Y'
	when 
	(YEAR(last_day(concat(#{KPIMonth},'-01'))) != YEAR(entry_date) or MONTH(last_day(concat(#{KPIMonth},'-01'))) != MONTH(entry_date)) and
	TIMESTAMPDIFF(MONTH,concat(DATE_FORMAT(entry_date,'%Y-%m'),'-01'),concat(#{KPIMonth},'-01')) >= 2
	then '3'
	when 
	(YEAR(last_day(concat(#{KPIMonth},'-01'))) != YEAR(entry_date) or MONTH(last_day(concat(#{KPIMonth},'-01'))) != MONTH(entry_date)) and
	TIMESTAMPDIFF(MONTH,concat(DATE_FORMAT(entry_date,'%Y-%m'),'-01'),concat(#{KPIMonth},'-01')) >= 1
	then '2'
	end as employee_type,
	case
	when 
	YEAR(last_day(concat(#{KPIMonth},'-01'))) = YEAR(quit_date) and MONTH(last_day(concat(#{KPIMonth},'-01'))) = MONTH(quit_date) 
	then round(DAYOFMONTH(quit_date)/DAYOFMONTH(last_day(concat(#{KPIMonth},'-01'))),2)
	end as employee_type_rel,
	now()
	from employee_info;
	]]>
	</insert>
	
	<insert id="insertKPI_DX" parameterType="com.tietong.pojo.KPI_DX">
	insert into kpi_dx(kpi_date,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,create_time)
	values
	(str_to_date(#{kpiDate},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},#{v},#{w},#{x},#{y},#{z},#{aa},#{ab},#{ac},now())
	
	</insert>
	<insert id="insertKPI_TC" parameterType="com.tietong.pojo.KPI_TC">
	insert into kpi_tc(kpi_date,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak,al,am,create_time)
	values
	(str_to_date(#{kpiDate},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},#{v},#{w},#{x},#{y},#{z},#{aa},#{ab},#{ac},#{ad},#{ae},#{af},#{ag},#{ah},#{ai},#{aj},#{ak},#{al},#{am},now())
	</insert>
	
	<select id="getKPI_DX" resultType="com.tietong.pojo.KPI_DX">
	select DATE_FORMAT(kpi_date,'%Y-%m') as kpiDate,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,create_time as createTime
	from kpi_dx
	where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
	</select>
	
	<select id="getKPI_TC" resultType="com.tietong.pojo.KPI_TC">
	select DATE_FORMAT(kpi_date,'%Y-%m') as kpiDate,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,round(w,2) as w,round(x,2) as x,y,z,aa,ab,ac,ad,ae,af,ag,ah,round(ai) as ai,aj,ak,al,am,create_time as createTime
	from kpi_tc
	where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
	</select>
	
	<select id="getKPI_DXName" resultType="com.tietong.pojo.KPI_DX">
		select DATE_FORMAT(kpi_date,'%Y-%m') as kpiDate,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,create_time as createTime
		from KPI_DX
		where 
		DATE_FORMAT(kpi_date,'%Y-%m') = #{uploadMonth}
		and d = #{employeeName}
		limit 1
	</select>
	
	<select id="getEmployeeInfoType" resultType="com.tietong.pojo.EmployeeType">
		SELECT
    		id,
    		DATE_FORMAT(kpi_date,'%Y-%m') as kpiDate,
    		employee_name as employeeName,
    		type,
    		region_pq as regionPQ,
    		region_q as regionQ,
    		region_wg as regionWG,
    		entry_date as entryDate,
    		quit_date as quitDate,
    		employee_type as employeeType,
    		employee_type_rel as employeeTypeRel,
    		create_time as createTime
    	FROM employee_info_month a
    	where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
    	order by id desc
	</select>
    
    <delete id="deleteMonthEmployee" >
        DELETE FROM employee_info_month where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
    </delete>
    
    <delete id="deleteMonthDX" >
        DELETE FROM kpi_dx where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
    </delete>
    
    <delete id="deleteMonthTC" >
        DELETE FROM kpi_tc where DATE_FORMAT(kpi_date,'%Y-%m') = #{KPIMonth}
    </delete>
	
</mapper> 
