<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tietong.dao.TieTongMapper"> 
	<select id="getUserByName" resultType="com.tietong.pojo.User">
		SELECT
    		id,
    		username, 
    		password
    	FROM account_info a
		WHERE
			a.username = #{username} 
	</select>
	
	<insert id="insertEmployeeInfo" parameterType="com.tietong.pojo.Employee">
	insert into employee_info(employee_name,type,region_pq,region_q,region_wg,entry_date,quit_date,month_end_date,create_time)
	values
	(#{employeeName},#{type},#{regionPQ},#{regionQ},#{regionWG},#{entryDate},#{quitDate},#{monthEndDate},now())
	</insert>
	
	<select id="getAllEmployeeInfo" resultType="com.tietong.pojo.Employee">
		SELECT
    		id,
    		employee_name as employeeName,
    		type,
    		region_pq as regionPQ,
    		region_q as regionQ,
    		region_wg as regionWG,
    		entry_date as entryDate,
    		quit_date as quitDate,
    		month_end_date as monthEndDate,
    		create_time as createTime
    	FROM employee_info a
    	order by create_time desc
	</select>
    
    <delete id="truncate" >
        truncate employee_info
    </delete>
    
    <delete id="employeeDel" >
        DELETE FROM employee_info where id=#{id}
    </delete>
	
	
</mapper> 
