<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tietong.dao.TieTongMapper"> 
	<select id="getUserByName" resultType="com.tietong.pojo.User">
		SELECT
    		id,
    		username, 
    		password
    	FROM account_info a
		WHERE
			a.username = #{username} 
	</select>
	
	<insert id="insertEmployeeInfo" parameterType="com.tietong.pojo.Employee">
	insert into employee_info(employee_name,type,region_pq,region_q,region_wg,entry_date,quit_date,month_end_date)
	values
	(#{employee_name},#{type},#{region_pq},#{region_q},#{region_wg},#{entry_date},#{quit_date},#{month_end_date})
	</insert>
</mapper> 
