<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tietong.dao.UploadTablesStatusMapper"> 
	<select id="getUploadTablesStatus" resultType="com.tietong.pojo.UploadTablesStatus">
		select 
			a.id,
			#{uploadMonth} as uploadMonth,
			a.tables_name as tablesName,
			a.tables_desc as tablesDesc,
			b.cnt
			from upload_base_info a
			left join
			(
				select 'bz' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from bz a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'y_gh_td' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from y_gh_td a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'ad_xz_xf' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from ad_xz_xf a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'zxln_zyyn' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from zxln_zyyn a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'gzxry_dywgdf' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from gzxry_dywgdf a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'jtkh_kh' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from jtkh_kh a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'jtkh_zb' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from jtkh_zb a group by DATE_FORMAT(upload_month,'%Y-%m')
				union ALL
				select 'jt_kh' as table_name,DATE_FORMAT(upload_month,'%Y-%m') as upload_month,count(1) as cnt  from jt_kh a group by DATE_FORMAT(upload_month,'%Y-%m')
			) b
			on a.tables_name = b.table_name
			and b.upload_month = #{uploadMonth}
			order by a.id
	</select>
	
	<delete id="truncate" >
        truncate #{tableName}
    </delete>
    
    <delete id="delete" >
        DELETE FROM ${tableName} where upload_month=str_to_date(#{uploadMonth},'%Y-%m')
    </delete>
    
	<insert id="insertBZ" parameterType="com.tietong.pojo.BZ">
	insert into bz(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},now())
	</insert>
    
	<insert id="insertY_GH_TD" parameterType="com.tietong.pojo.Y_GH_TD">
	insert into y_gh_td(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak,al,am,an,ao,ap,aq,ar,xas,xat,au,av,aw,ax,ay,az,ba,bb,bc,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},#{v},#{w},#{x},#{y},#{z},#{aa},#{ab},#{ac},#{ad},#{ae},#{af},#{ag},#{ah},#{ai},#{aj},#{ak},#{al},#{am},#{an},#{ao},#{ap},#{aq},#{ar},#{as},#{at},#{au},#{av},#{aw},#{ax},#{ay},#{az},#{ba},#{bb},#{bc},now())
	</insert>
    
	<insert id="insertAD_XZ_XF" parameterType="com.tietong.pojo.AD_XZ_XF">
	insert into AD_XZ_XF(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak,al,am,an,ao,ap,aq,ar,xas,xat,au,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},#{v},#{w},#{x},#{y},#{z},#{aa},#{ab},#{ac},#{ad},#{ae},#{af},#{ag},#{ah},#{ai},#{aj},#{ak},#{al},#{am},#{an},#{ao},#{ap},#{aq},#{ar},#{as},#{at},#{au},now())
	</insert>
    
	<insert id="insertZXLN_ZYYN" parameterType="com.tietong.pojo.ZXLN_ZYYN">
	insert into ZXLN_ZYYN(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},#{v},#{w},now())
	</insert>
    
	<insert id="insertGZXRY_DYWGDF" parameterType="com.tietong.pojo.GZXRY_DYWGDF">
	insert into GZXRY_DYWGDF(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},now())
	</insert>
    
	<insert id="insertJTKH_KH" parameterType="com.tietong.pojo.JTKH_KH">
	insert into JTKH_KH(upload_month,a,b,c,d,e,f,g,h,i,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},now())
	</insert>
    
	<insert id="insertJTKH_ZB" parameterType="com.tietong.pojo.JTKH_ZB">
	insert into JTKH_ZB(upload_month,a,b,c,d,e,f,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},now())
	</insert>
    
	<insert id="insertJT_KH" parameterType="com.tietong.pojo.JT_KH">
	insert into JT_KH(upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,create_time)
	values
	(str_to_date(#{uploadMonth},'%Y-%m'),#{a},#{b},#{c},#{d},#{e},#{f},#{g},#{h},#{i},#{j},#{k},#{l},#{m},#{n},#{o},#{p},#{q},#{r},#{s},#{t},#{u},now())
	</insert>
	
	<select id="getBZ" resultType="com.tietong.pojo.BZ">
		select id,upload_month,a,b,c,d,e,f,g,h,i,j,k,l,create_time as createTime
		from bz
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and b = #{employeeType}
	</select>
	
	<select id="getY_GH_TD" resultType="com.tietong.pojo.Y_GH_TD">
		select id,upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak,al,am,an,ao,ap,aq,ar,xas,xat,au,av,aw,ax,ay,az,ba,bb,bc,create_time as createTime
		from Y_GH_TD
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and xat = #{employeeName}
	</select>
	
	<select id="getAD_XZ_XF" resultType="com.tietong.pojo.AD_XZ_XF">
		select id,upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak,al,am,an,ao,ap,aq,ar,xas,xat,au,create_time as createTime
		from AD_XZ_XF
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and u = #{employeeName}
	</select>
	
	<select id="getZXLN_ZYYN" resultType="com.tietong.pojo.ZXLN_ZYYN">
		select id,upload_month as uploadMonth,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,create_time as createTime
		from ZXLN_ZYYN
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and u = #{employeeName}
	</select>
	
	<select id="getGZXRY_DYWGDF" resultType="com.tietong.pojo.GZXRY_DYWGDF">
		select id,upload_month as uploadMonth,a,b,c,d,e,f,g,h,i,j,k,l,m,create_time as createTime
		from GZXRY_DYWGDF
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and b = #{employeeName}
	</select>
	
	<select id="getJTKH_KH" resultType="com.tietong.pojo.JTKH_KH">
		select id,upload_month as uploadMonth,a,b,c,d,e,f,g,h,i,create_time as createTime
		from JTKH_KH
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and b = #{employeeName}
	</select>
	
	<select id="getJTKH_ZB" resultType="com.tietong.pojo.JTKH_ZB">
		select id,upload_month as uploadMonth,a,b,c,d,e,f,create_time as createTime
		from JTKH_ZB
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and a = #{employeeName}
	</select>
	
	<select id="getJT_KH" resultType="com.tietong.pojo.JT_KH">
		select id,upload_month,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,create_time as createTime
		from jt_kh
		where 
		DATE_FORMAT(upload_month,'%Y-%m') = #{uploadMonth}
		and f = #{employeeName}
	</select>
	
	
</mapper> 
