<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>东莞铁通绩效系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="$!{s.ctx}resource-admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="$!{s.ctx}resource-admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body>
$!{screen_content}
</body>
    <!-- /#wrapper -->

 
</html>
