
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li #if($active_sidebar_id == "emplyee" or $active_sidebar_id == "upload") class="active" #end>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 基础模块<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li #if($active_sidebar_id == "emplyee") style="background-color:#eee;" #end>
                                    <a href="${s.ctx}pages/employee.html">人员信息管理</a>
                                </li>
                                <li #if($active_sidebar_id == "upload") style="background-color:#eee;" #end>
                                    <a href="${s.ctx}pages/upload.html">业务表上传</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li #if($active_sidebar_id == "dateset" or $active_sidebar_id == "employee_type") class="active" #end>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 工资计算<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li #if($active_sidebar_id == "dateset") style="background-color:#eee;" #end>
                                    <a href="${s.ctx}pages/dateset.html">考核日期</a>
                                </li>
                                <li #if($active_sidebar_id == "employee_type") style="background-color:#eee;" #end>
                                    <a href="${s.ctx}pages/employee_type.html">员工当月入职时长</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->