.tietong-header{
	width: 100%;
	height: 51px;
}

.tietong-pagebody{
	width: 100%;
	height: 100%;
}

.tietong-leftpanel{
	width: 250px;
	height: 100%;
	float: left;
}

.tietong-mainpanel{
	width: calc(100% - 250px);
	height: 100%;
	float: right;
	background-color: white;
	min-height: 900px;
	padding: 10px;
}

.sidebar{
	margin-top: 0;
	height: 100%;
}
